*{
  background-color: burlywood;
  color: blanchedalmond;
}

.title{
  font-size: 50px;
  text-align: center;
}

.one,
.ingredient,
.how{
  text-align: center;
  font-size: 30px;
}

img{
  display: block;
  margin: 0 auto;
}

.para{
  text-align: center;
}
