*{
  background-color: burlywood;
  color: blanchedalmond;
}

.title{
  font-size: 50px;
  text-align: center;
}

.one,
.ingredient,
.how{
  text-align: center;
  font-size: 30px;
}

p{
  text-align: center;
}